
@media (min-width: 768px) {
    html {
        font-size: 17px; 
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px; 
    }
}


#div_usuario{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#menu_nav{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3%;
    text-align: center;
    justify-content: center;
}

#elementos_selector{
    list-style-type: none;
    height: 50%;
    padding: 0;
}

#conjunto_elementos{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}
#conjunto_elementos aside{
    width: 50%;
}

#articulos{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
    gap: 5%;
    text-align: center;
}

#article_comentario{
    font-size: clamp(0.5rem, 1vw + 0.7rem, 1rem);
}

#primer_articulo{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    word-break: break-word;
    text-align: center;
}
#articulo_principal{
    display: flex;
    text-align: center;
    justify-content: center;
}

#articulo_principal a{
    text-align: center;
    align-content: center;
    justify-content: center;
}

#articulo_principal{
    width: 200px;
    height: 100px;
}

.articulo{
    display:flex;
    align-content: center;
    justify-content: flex-end;
    gap: 5%;
    max-height: 100%;
    font-size: clamp(0.5rem, 1vw + 0.7rem, 1rem);
    height: auto;
    width: auto;
}

.articulo img{
    border-radius: 1rem;
}

.imagen_articulo{
    align-content: center;
    width: 50%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.descripcion_articulo{
    align-content: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    
}

.no-shadow{
    box-shadow: none;
}



#article_comentario{
    display: block;
    word-break: break-word;
}

/*
articulo principal
*/
#articulo_principal{
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
#articulo_principal > div{
    width: 90%;
    display: flex;
    justify-content: center
}

@media (max-width: 400px) {
    html {
        font-size: 10px; 
    }
    #articulo_principal > div{
        width: 90%;
        display: block;
        justify-content: center
    }
}


#imagen_articulo_principal{
    width: 50%;
    align-content: center;
}
#imagen_articulo_principal img{
    border-radius: 1rem;
    min-width: 5rem;
    min-height: 5rem;
}
#comentario_reciente{
    display: flex;
    flex-direction: column;
}

#descripcion_articulo{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
#nombre_articulo{
    font-size: clamp(0.5rem, 1vw + 0.7rem, 1rem);
}
#id_descripcion_articulo_principal{
    word-break: break-word;
}
#strong_titulo_articulo_principal{
    word-break: break-word;
    font-size: clamp(0.5rem, 4vw + 0.7rem, 4rem);
}
#precio{
    font-size: clamp(0.1rem, 2vw + 0.5rem, 2rem);
}

#descripcion_articulo article{
    display: block;
    width: 90%;
    align-content: center;
    justify-content: center;
}

#comentarios_articulo_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#comentarios_articulo_principal article{
    display: block;
    align-content: center;    
    width: 90%;
}

#info_articulo{
    width: 50%;
}